body {
    margin: 0;
    background-color: #4B0F1F;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    padding: 9% 5%;
    border-radius: 50%;
}

.texto {
    width: 70%;
    height: 100%;
    padding: 40px;
    color: white;

    background-image: 
        url('../assets/imgs/paisagem_vinho.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: "Playfair Display";
    font-size: 60px;
    text-align: center;
    color: black;
}

p {
    font-family: "Lora", serif;
    font-size: 30px;
    text-align: justify;
    padding: 10%;
}

.paragrafo{
    background-color: #4B0F1F;
    height: 80%;
    margin-left: -40px;
}